[submodule "algorithm_Java"]
	path = algorithm_Java
	url = https://github.com/AkimJemi/algorithm_Java.git
[submodule "AllInOne_Akim"]
	path = AllInOne_Akim
	url = https://github.com/AkimJemi/AllInOne_Akim.git
[submodule "DreamHotel"]
	path = DreamHotel
	url = https://github.com/AkimJemi/DreamHotel.git
[submodule "Eclipse"]
	path = Eclipse
	url = https://github.com/AkimJemi/Eclipse.git
[submodule "python"]
	path = python
	url = https://github.com/AkimJemi/python.git
[submodule "suumo"]
	path = suumo
	url = https://github.com/AkimJemi/suumo.git
[submodule "pj_HotelReservation"]
	path = pj_HotelReservation
	url = https://github.com/AkimJemi/pj_HotelReservation.git
[submodule "algorithm_Python"]
	path = algorithm_Python
	url = https://github.com/AkimJemi/algorithm_Python.git
